<!DOCTYPE html>
<html ng-app="finalistPage">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>豆瓣阅读</title>
		<script src="../../../../node_modules/angular/angular.min.js"></script>
		<script src="../../../../node_modules/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="JYcommon/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="JYcommon/mobileAdaptive.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="JYcommon/JYreset.css"/>
		<link rel="stylesheet" type="text/css" href="finalist.css"/>
		<link rel="shortcut icon" href="../../../common/images/favicon.ico" type="image/x-icon">
		<!--<link rel="stylesheet" type="text/css" href="xqpage/css/xq.css"/>-->
	</head>
	<body >
		<div id="wrapper" ng-controller="finalistCtrl" ng-controller="xqCtrl">
			<!--========================头部====================================-->
			<header>
				<a href="/#home" class="douban-logo"><img src="images/blues.png"/></a>
				<section class="douban-search">
					<a href="/#login-in">登陆</a>
					<a href="/#login-register">注册</a>
				</section>
			</header>
			<!--==============================导航=====================================-->
			<div class="finalist-banner" >
				<img src="images/bannerm.png"/>
				<nav class="nave clearfix">
					<section>
						<p class="finalist-name">公开征稿</p>
						<p class="finalist-date">2016.10.16截止</p>
					</section>
					<section class="finalist-show">
						<p class="finalist-name">公布入围</p>
						<p class="finalist-date">2016.10.17开始</p>
					</section>
					<section>
						<p class="finalist-name">读者评选</p>
						<p class="finalist-date"></p>
					</section>
					<section>
						<p class="finalist-name">公布结果</p>
						<p class="finalist-date"></p>
					</section>
				</nav>
			</div>
			<!--===========================tab菜单切换==========================-->
			<div class="finalist-mune">
				<ul>
					<li><a id="fina-active" ui-sref="finaindex"  ng-click="trunColor($event)">首页</a></li>
					<li><a ui-sref="competition"  ng-click="trunColor($event)">职业</a></li>
					<li><a ui-sref="comedy"  ng-click="trunColor($event)">喜剧</a></li>
					<li><a ui-sref="science"  ng-click="trunColor($event)">科幻</a></li>
				</ul>
			</div>
			<div ui-view>
				
			</div>
			
			<!--==================================================================-->
		</div>
		<script src="finalist.js"></script>
		<script src="finaindex/finaindex.js"></script>
		<script src="competition/competition.js"></script>
		<script src="comedy/comedy.js"></script>
		<script src="science/science.js"></script>
		<script src='xqpage/xq.js'></script>
		<script src='xqpage/xqContent/xqContent.js'></script>
		
	</body>
</html>