body{
	background-color: #f8f9f9;
}
/*===================头部========================*/
header{
	height: .527rem;
	background: #424b4d;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}
.douban-logo{
	float: left;
	line-height: .527rem;
	margin-left: 0.1rem;
}
.douban-logo img{
	width: 1.17rem;
	height: .2rem;
	vertical-align: sub;
}
.douban-search a,.douban-search article{
	float: right;
	text-align: center;
	line-height: .527rem;
	width: .55rem;
	height: .527rem;
	color: #77a4b3;
	border-left: 0.01rem solid #394142;
}
/*======================导航=============================*/
.finalist-banner{
	width: 100%;
	background-color: #e3dfd1;
	margin-top: .527rem;
}
.finalist-banner img{
	display: block;
	width: 2.72rem;
	height: 1.57rem;
	margin: 0 auto;
}
.nave{
	width: 100%;
	height: .8rem;
	background-color: #e3dfd1;
}
.nave section{
	color: #aeab9a;
	float: left;
	width: 25%;
	text-align: center;
	margin-top: .2rem;
}
.finalist-name{
	font-size: .16rem;
}
.finalist-show p{
	color: #37332a;
}
/*==========================tab菜单切换=========================*/
.finalist-mune{
	height: .44rem;
	background-color: #c05a32;
}
.finalist-mune ul{
	height: .44rem;
	width: 100%;
	padding: 0 .5rem;
}
.finalist-mune li{
	height: .44rem;
	line-height: .44rem;
	float: left;
	width: .65rem;
	text-align: center;
	font-size: .17rem;
}
.finalist-mune li a{
	color: #fff;
}
#fina-active{
	background-color: #f8f9f9;
	color: #C05A32;	
}
.finalist-msg{
	width: 3.36rem;
	border: .01rem solid #eef0ed;
	padding: .3rem;
	margin: .35rem auto .2rem;
	font-size: .14rem;
}
.finalist-msg p{
	word-spacing: .01rem;
	line-height: .24rem;
}
.finalist-msg p:first-child{
	margin-bottom: .2rem;
}
.finalist-title{
	width: 100%;
	height: .67rem;
	line-height: .67rem;
}
.finalist-title h2{
	text-align: center;
	font-size: .24rem;
	color: #b5684a;
	font-weight: 600;
}
.finalist-content section{
	width: 3.36rem;
	border: .01rem solid #eef0ed;
	padding: .3rem;
	margin: 0 auto .15rem;
	background-color: #fff;
	position: relative;
}
.finalist-content section>img{
	width: 1.08rem;
	height: 1.6rem;
	float: left;
	margin-right: .15rem;
}
.finalist-content section h2{
	color: #b5684a;
	font-size: .17rem;
	margin-bottom: .11rem;
}
.finalist-content section>p{
	color: #acacac;
}
.finalist-content article img{
	width: .18rem;
	height: .15rem;
	vertical-align: sub;
	margin-right: .05rem;
}
.finalist-content article p{
	color: #fff;
	display: inline-block;
}
.finalist-neir{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.finalist-content article{
	border: .01rem solid #c75634;
	background-color: #c75634;
	border-radius: 1rem;
	display: inline-block;
	width: .82rem;
	height: .3rem;
	text-align: center;
	line-height: .26rem;
	margin-top: .78rem;
}
.finalist-article{
	margin-top: .2rem;
	border-top: .02rem solid #f4f4f2;
	padding-top: .2rem;
}
.finalist-article h3{
	margin-bottom: .13rem;
}
.finalist-absolut{
	position: absolute;
	top: 0;
	right: .15rem;
	color: #b3b4b6;
	background-color: #eaeeef;
	padding: .02rem .04rem;
}
.finalist-hd{
	width: 3.36rem;
	height: .55rem;
	background-color: #c05a32;
	margin: .4rem auto .15rem;
	line-height: .55rem;
}
.finalist-icobg{
	background-color: #e196b0;
	width: .55rem;
	height: .55rem;
	float: left;
	margin-right: .2rem;
}
.finalist-icobg i{
	display: block;
	background: url(images/gushiico.png) 0 0;
	background-size: 36px 118px;
	width: .36rem;
	height: .36rem;
	margin: .09rem;
}
.finalist-hd h2{
	color: #fff;
}
.finalist-more{
	float: right;
	margin-right: .15rem;
	color: #c05a32;
	font-size: .14rem;
	margin-bottom: .16rem;
}
.finalist-more img{
	width: .23rem;
	vertical-align: middle;
}
.finalist-magin{
	height: .4rem;
}
.finalist-gushi ul{
	width: 3.36rem;
	height: 4.4rem;
	margin: 0 auto .2rem;
}
.finalist-gushi ul img{
	width: 1.05rem;
	height: 1.64rem;
}
.finalist-gushi li a{
	width: 1.05rem;
	color: #C75634;
	font-size: .14rem;
	font-weight: bold;
}
.fina-xj{
	background-color: #f5c86a;
}
.fina-xj i{
	background-position: 0 -.41rem;
}
.fina-kh{
	background-color: #5dcca1;	
}
.fina-kh i{
	background-position: 0 -.82rem;
}
.finalist-author{
	color: #b3b0a1;
	width: 1.05rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: .02rem;
}
.finalist-gushi li{
	float: left;
	margin-bottom: .2rem;
}
.finalist-gushi li:nth-of-type(3n-1){
	margin: 0 .1rem;
}
.finalist-shuoming h3{
	font-size: .26rem;
	color: #C75634;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
}
.finalist-ulList{
	width: 3.2rem;
	list-style: disc;
	font-size: .15rem;
	margin: 0 .4rem;
	padding-bottom: .2rem;
}
.finalist-fontSize{
	color: #313131;
	font-size: .17rem;
	margin-left: .17rem;
	margin-bottom: .18rem;
}
.finalist-ulList li{
	line-height: .25rem;
}
.fina-title{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.finalist-sslc{
	width: 3.36rem;
	padding-top: .2rem;
	border-top: .01rem solid #eceeeb;
}
.finalist-numcon{
	text-align: center;
	margin-bottom: .16rem;
}
.finalist-numcon p{
	background: url(images/numico.png) no-repeat;
	width: .3rem;
	height: .37rem;
	background-size: 100%;
	margin: 0 auto .1rem;
	line-height: .3rem;
	color: #fff;
}
.finalist-numcon h3{
	font-size: .24rem;
	font-weight: 500;
	margin-bottom: .18rem;
}
.finalist-numcon acticle{
	text-align: left;
	display: block;
	width: 3.36rem;
	font-size: .15rem;
	line-height: .22rem;
	margin: 0 auto;	
}
.finalist-line{
	border-top: .01rem solid #edefec;
	padding-top: .2rem;
}
.finalist-matter{
	width: 3.36rem;
	margin: 0 auto .3rem;
	font-size: .15rem;
}
.finalist-matter h5{
	margin-bottom: .05rem;
	font-size: .15rem;
}
.finalist-dbyd{
	margin-top: .5rem;
}
.finalist-ftbg{
	height: .38rem;
	width: 100%;
	background-color: #424c4e;
	display: flex;
	align-items: center;
	justify-content: center;
}
.finalist-ftbg a{
	width: 1rem;
	height: .17rem;
}
.finalist-ftbg img{
	width: 1rem;
	height: .17rem;
}












