<!DOCTYPE html>
<html ng-app="TemplateProject">
	<head>
		<meta charset="utf-8" />
		<title>豆瓣阅读</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		<link rel="stylesheet" type="text/css" href="src/common/css/reset.css"/>
		<!-- <link rel="shortcut icon" href="src/common/images/favicon.ico" type="image/x-icon"> -->
	</head>
	<body>
		<header ng-controller="indexCtrl">
			<section class="logo">
				<a href="#" class="douban-logo"><img src="src/common/images/logo.svg"/></a>
				<div class="douban-down" ng-model="flag" ng-click="change()">
					<article></article>
				</div>
			</section>
			<section class="douban-search">
				<a ui-sref="search"><img src="src/common/images/ic_search@2x.png"/></a>
				<article  ng-model="flag1" ng-click="change1()">
				</article>
			</section>
			<section class="menu" ng-if="flag">
				<article class="sharp"></article>
				<ul class="menu-list" ng-click="change($event)">
					<li><a ui-sref="home">电子书店</a></li>
					<li><a ui-sref="movies">影视改编</a></li>
					<li><a ui-sref="plan">短片计划</a></li>
				</ul>
			</section>
			<section class="mine-menu"  ng-if="flag1">
				<article class="mine-sharp"></article>
				<ul class="mine-list" ng-click="change1($event)">
					<li><a ui-sref="mine">账户余额</a></li>
					<li><a ui-sref="mine">礼券</a></li>
					<li><a ui-sref="mine">拥有的作品</a></li>
					<li><a ui-sref="mine">礼物</a></li>
					<li><a ui-sref="login-in">登录</a></li>
				</ul>
			</section>
		</header>
		<div class="container" ui-view>
			
		</div>
		<footer>
			<p>
				<a href="#">手机版</a>&nbsp;|&nbsp;<a href="#">网页版</a>
			</p>
			<p>&copy;2005-2006 douban.com</p>
		</footer>
		<script src="src/common/js/jquery.js"></script>
		<script src="src/common/js/mobileAdaptive.js"></script>
		<script src="src/common/js/swiper.js"></script>
		<script src="index.js"></script>
		<script src="src/views/home/home.js"></script>
		<script src="src/views/search/search.js"></script>
		<script src="src/views/home/columns/columns.js"></script>
		<script src="src/views/home/columns.hot/columns.hot.js"></script>
		<script src="src/views/home/columns.update/columns.update.js"></script>
		<script src="src/views/home/serials/serials.js"></script>
		<script src="src/views/home/serials.hot/serials.hot.js"></script>
		<script src="src/views/home/serials.update/serials.update.js"></script>
		<script src="src/views/home/home.new/home.new.js"></script>
		<script src="src/views/home/home.hot/home.hot.js"></script>
		<script src="src/views/home/home.gallery/home.gallery.js"></script>
		<script src="src/views/home/home.free/home.free.js"></script>
		<script src="src/views/movies/movies.js"></script>
		<script src="src/views/movies/movies.detail/movie_detail.js"></script>
		<script src="src/views/movies/movies.oddsell/odd_sell.js"></script>
		<script src="src/views/plan/plan.js"></script>
		<script src="src/views/plan/plan.selected/plan_selected.js"></script>
		<script src="src/views/plan/plan.novel/plan_novel.js"></script>
		<script src="src/views/mine/mine.js"></script>
		<script src='src/views/xq/xq.js'></script>
		<script src='src/views/xq/xqTotal/xqTotal.js'></script>
		<script src='src/views/xq/xqContent/xqContent.js'></script>
		<script src="src/views/mine/mine.js"></script>
		<script src="src/views/mine/js/login-in.js"></script>

		<script src='src/common/js/me-lazyload.js'></script>

	</body>
</html>
