<link rel="stylesheet" type="text/css" href="src/views/plan/plan.intro/plan_intro.css"/>
<!-- 短片计划介绍页面 -->
<div class="plan_intro_box">

<section>
	<h3>什么是短片？</h3>
	<div>
		<p>
			短片是指片长不超过 15 分钟的影片。它是电影行业中重要的内容形式，各大电影节都有专门的短片奖项。<br/>
			青年导演在拍电影的职业道路上，都会从拍短片开始，这也是他们展示自己拍片能力的重要开始。对于观众而言，短片本身也很好看，越来越多的年轻人在手机上看短片、分享短片。豆瓣的影视计划会从短片开始。
		</p>
	</div>
</section>
<section>
	<h3>豆瓣短片计划</h3>
	<p>豆瓣将提供青年导演拍短片的机会。「短片计划」如下：</p>
	<div>
		<h4>豆瓣提供小说</h4>
		<p>豆瓣阅读将开放原创小说的短片拍摄权，即导演可以在豆瓣阅读里挑选自己想改编拍摄的小说。如果觉得在全站挑选小说有困难，豆瓣阅读也会精选 20 部作品，推荐导演可以来拍这些故事。豆瓣阅读的原创小说<a ui-sref="home">在这里</a></p>
	</div>
	<div>
		<h4>开放接受导演申请</h4>
		<p>
			导演可以挑选自己喜欢的小说，向我们提出一个拍短片的策划案。策划案包括小说的改编方向、主创构成、时间计划、所需经费等等。
		</p>
	</div>
	<div>
		<h4>豆瓣提供资金资助、人员帮助</h4>
		<p>
			豆瓣会挑选优秀的策划案，支持该导演的短片拍摄。每部短片给 10 万元左右的投资。如果导演需要编剧帮助，豆瓣阅读还会提供合适的编剧，帮助导演完成从小说到短片剧本的改编工作。（通过之前的<a ui-sref="movies">改编计划</a>，我们已经吸引了超过三百名编剧。)
		</p>
	</div>
	<div>
		<h4>豆瓣传播短片</h4>
		<p>
			短片完成后，豆瓣是出品方，导演是短片署名导演。短片将在豆瓣平台得到传播推广，当然不限于豆瓣平台，豆瓣也会主动与其他视频平台合作，促使短片得到更多观众。豆瓣也可以支持导演参加电影节评选活动等等。
		</p>
	</div>
	<div>
		<h4>与豆瓣合作，导演豆瓣的院线长片</h4>
		<p>
			豆瓣影业也将与这些短片导演建立长期的合作关系。豆瓣影业自己策划制作的院线电影，可能会优先邀请这些短片导演合作。
		</p>
	</div>
</section>
</div>

