<link rel="stylesheet" href="src/views/plan/plan.selected/plan_selected.css" />
<!-- 入选影片模块 -->
<div class="plan_selected_box" ng-controller="planSelected">

	<!-- video模块 -->
	<section class="plan_selected_video" ng-click="plan_play_video()">
		<video poster="https://img3.doubanio.com/f/ark/6eaa9473f919d32e7fa566de81757ec424cec0af/pics/topic/clip/a-hero-for-a-day.jpg" preload="auto" id="video"  controls>
			<!-- <source src="http://vt1.doubanio.com/201609211517/60c8de48b755cb7752d4cf9009ba0381/view/movie/M/302010226.mp4" type="video/mp4"></source> -->
			<source src="src/views/plan/images/doubanmv.mp4" type="video/mp4"></source>
			<p>您的浏览器不支持video</p>
		</video>
	</section>
	
	<!-- 入选影片 -->
	<section class="plan_selected_title">
		<h1>一日英雄 A Hero for a Day</h1>
		<div class="plan_selected_title_info">
			<ul class="plan_selected_title_info_list">
				<li><span>导演</span><span>王立凡</span></li>
				<li><span>编剧</span><span>王立凡 / 珊农·布鲁内蒂</span></li>
				<li><span>主演</span><span>科尔顿·夏尔斯 / 埃里克·里迪 / 卡蒂·丽兹·罗宾斯 / 奥斯丁·布鲁克</span></li>
				<li><span>类型</span><span>短片 / 犯罪</span></li>
				<li><span>制片国家 / 地区</span><span>美国</span></li>
				<li><span>语言</span><span>英语</span></li>
				<li><span>上映时间</span><span>2016-05-04(美国)</span></li>
				<li><span>片长</span><span>17分钟</span></li>
				<li><span>又名</span><span>校园枪击案策划指南</span></li><li><span>导演</span><span>王立凡</span></li>
				<li><span>IMDb 链接</span><span><a href="http://www.imdb.com/title/tt5555208">tt5555208</a></span></li>
			</ul>
		</div>
		<div class="plan_selected_title_btn">
			<a href="https://movie.douban.com/subject/26779530/" class="plan_btn">
				<span>豆</span>
				<span>去豆瓣电影查看</span>
			</a>
		</div>
	</section>
		
	<!-- 影片简介模块 -->
	<div class="plan_selected_introduce">
		<h3>影片简介</h3>
		<div class="plan_selected_introduce_text">
			<p>
				2015 年 10 月，小说《校园枪击案策划指南》入围豆瓣阅读第三届征文大赛；2016 年 3 月，一位叫王立凡的同学联系豆瓣阅读表达想要拍摄成为短片的意愿，并展示了自己的既往作品和相关经历；在其提交的拍摄策划案以及预算通过审核之后，豆瓣阅读为其开放了短片拍摄权，并投入了 2 万美元支持起在美国拍摄制作。
			</p>
			<p>
				本片导演为在美国学习的王立凡，他曾凭借处女作短片《剧中人》入围北京大学生电影节原创单元，并于近期参与了著名导演张艺谋最新电影巨制《长城》以及美国漫威影业《雷神3》的拍摄工作。另值得一提的是，本片武术指导是曾担任《钢铁侠》《超凡蜘蛛侠2》《女超人》等片武指、替身的好莱坞著名指导 Ross Scharphorn。
			</p>
			<p>
				故事讲述一个来自破碎家庭的普通高二男生，因为矮小和口吃而饱受同学孤立和欺辱。这一年他忍无可忍，决心向曾经羞辱他的同学报仇雪恨。为了这个目标，他默默筹备了几个月，然而就在他策划好一切，准备掏出费尽心机搞来的枪，并即将扣动扳机的那一刻，一场突如其来的意外却打乱了他缜密的复仇计划……
			</p>
		</div>
	</div>

	<!-- 原著小说 -->
	<div class="plan_selected_novel">
		<h3>原著小说</h3>
		<section class="plan_selected_novel_intro">
			<dl class="plan_selected_novel_info">
				<dt>
					<img ng-src="src/views/plan/images/mm.jpg">
				</dt>
				<dd>
					<h4>校园枪击案策划指南</h4>
					<div>
						<p><span>作者</span><span><a href="##">〔德〕梁柯</a></span></p>
						<p><span>类别</span><span> 小说 / 中篇 </span></p>
					</div>

					<div>
						<p><span class="star"><img ng-src="src/views/plan/images/stars@2x.png" ></span><span class="red">8.6</span></p>
						<p><span>2578人评价</span></p>
					</div>
					<div>
						<p>
							故事发生在未来。 一个饱受同学孤立、欺凌的高二学生忍耐到达了极限。 他带着枪来到学校，决心报仇血恨，然后自杀。 为了这个目标，他已经默默筹备了几个月。 就在他即将开枪的那一刻…… 这是一个关于毁灭和救赎的故事。 一个灵魂被慢斯条理地摧毁。 一出悲剧按部就班地上演。 大幕拉开，一切失控。
						</p>
					</div>
				</dd>
			</dl>
		</section>
		<div class="plan_selected_novel_btn">
			<a href="https://read.douban.com/ebook/12627400/">查看作品详情</a>
		</div>
	</div>


	<!-- 导演介绍 -->
	<div class="plan_selected_author">
		<h3>导演介绍</h3>
		<div class="plan_selected_author_pic">
			<img ng-src="https://img3.doubanio.com/f/ark/5a516f4bc4d3f07af90fa40020ed7d390a072f69/pics/topic/clip/director-wlf.jpg" />
		</div>
		<h6>王立凡</h6>
		<div>
			<p>
				王立凡（导演），出生于鲁迅故乡浙江绍兴，他相信电影不仅是种娱乐，更是文化的载体。他编导的第一部短片《剧中人》以最高票入围北京大学生电影节原创单元。之后他远赴美国洛杉矶学习电影，并在美国制片人公会，派拉蒙影业实习。在美期间，其第二部短片《The Chinging Room》与当年学生奥斯卡最佳影片《Day One》一同亮相在比弗利山庄举办的洛杉矶国际艺术电影节。
			</p>
			<p>
				他参与了由传奇影业出品、张艺谋导演的新作《长城》的拍摄，并在其中担任服装设计师 Mayes Rubeo 的助理兼翻译，Mayes 曾是《阿凡达》《魔兽世界》的服装设计师。
			</p>
		</div>
	</div>

	<!-- 摄影师介绍 -->
	<div class="plan_selected_cameraman">
		<h3>摄影师介绍</h3>
		<div class="plan_selected_cameraman_pic">
			<img ng-src="https://img3.doubanio.com/f/ark/578f0a7bcc3cf72f867a273f2d8701c15100559d/pics/topic/clip/photographer-xy.jpg" />
		</div>
		<h6>谢粤</h6>
		<div>
			<p>
				谢粤（摄影），出生于深圳，在英国念初高中，在美国完成大学学业，专攻摄影方向。
			</p>
			<p>
				作为华裔身份连续三年获得美国摄影家协会（ASC）年度学院奖的提名，并于 2014 年杀入前三甲争夺。目前谢粤已经完成大大小小三十余部作品的拍摄，其中包括长篇、MV 以及短片，经验丰富。
			</p>
			<p>
				谢粤现在美国洛杉矶做职业摄影师。
			</p>
		</div>
	</div>

	<!-- 入选背景 -->
	<div class="plan_selected_background">
		<h3>入选背景</h3>
		<div class="plan_selected_background_intro">
			<p>
				2015 年 10 月，小说《校园枪击案策划指南》入围豆瓣阅读第三届征文大赛；
			</p>
			<p>
				2016 年 3 月，一位叫王立凡的同学联系豆瓣阅读表达想要拍摄成为短片的意愿，并展示了自己的既往作品和相关经历；在其提交的拍摄策划案以及预算通过审核之后，豆瓣阅读为其开放了短片拍摄权，并投入了 2 万美元支持起在美国拍摄制作。
			</p>
			<p>
				本片项目策划通过层层选拔，入选伯克利音乐学院（Berklee College of Music）电影音乐合作项目，由学院乐团进行现场演奏以及录制。
			</p>
			<p>
				短片于 6 月制作完成，目前已经入围第三届华盛顿华语电影节剧情短片单元，第二届北美华人导演短片展，以及 2016 年 Los Angeles CineFest 电影节。
			</p>
		</div>
	</div>

</div>

						
