
<link rel="stylesheet" type="text/css" href="competition/competition.css"/>
<div id="wrapper" ng-controller="competitionPage">
	<div class="finalist-container">
		<div class="finalist-msg">
			<p>
当下，我们在工作中花的时间越来越长，工作几乎入侵了生活的所有角落。 新经济和新职业对个人生活也提出了新问题。在这样的巨变和困惑面前，「职业」越来越成为人们生活中非常核心的主题。 我们想征集好看的职业故事，尤其关心女性在职业生活中的成长。
</p>
			<div class="finalist-article">
				<h3>奖项</h3>
				<section>
					<p class="competition-imgico"></p>
					<p>首奖</p>
					<p>1 名，奖金 2 万元</p>
				</section>
				<section>
					<p class="competition-imgico trophy-blue"></p>
					<p>优秀奖</p>
					<p>3 名，奖金各 1 万元</p>
				</section>
				<section>
					<p class="competition-imgico trophy-green"></p>
					<p>特别奖 · 最佳女性角色奖</p>
					<p>1 名，奖金 1 万元</p>
				</section>
				<section>
					<p class="competition-imgico trophy-red"></p>
					<p>合作方奖 · 新丽传媒特别奖</p>
					<p>1 名，奖金 1 万元</p>
				</section>
			</div>
		</div>
		<div class="finalist-content" ng-repeat="x in pro">
			<section ui-sref="xq({id:x.id,objData:x})" ng-click="headHidden()">
				<img ng-src="{{x.image}}"/>
				<h2>{{x.title}}</h2>
				<p>Gibi</p>
				<div class="competition-starts">
					<span class="competition-strActive"></span>
				</div>
				<span class="con-score">{{x.rating.average}}</span>
				<span class="con-amount"> | {{x.rating.numRaters | limitTo:2}}评价</span>
				<article>
					<img src="images/bookico.png"/>
					<p>阅读</p>
				</article>
				<div class="finalist-article">
					<h3>作者简介</h3>
					<p>{{x.author_intro}}</p>
				</div>
			</section>
		</div>
	</div>
	<div class="finalist-dbyd">
		<div class="finalist-ftbg">
			<a href="#"><img src="images/ftbg.png"/></a>
		</div>
	</div>
	
	<!--==================================================================-->
</div>
