body {
  overflow-y:hidden;
}
.login-content {
  width: 100%;
  margin-top: .8rem;
}
.login-content1 {
  width: 100%;
  text-align: center;
  margin-top: 0.56rem;
}
.login-content1 p {
  color: #aac6d1;
  font-size: 0.56rem;
  padding-top: .3rem;
}
.login-content2 {
  width: 100%;
  text-align: center;
  margin-top: 1.4rem;
  font-size: 0.28rem;
}
.login-log {
  width: 100%;
  font-size: 0.28rem;
  font-weight: bold;
  text-align: center;
}
.login-log section {
  text-align: center;
  height: 0.9rem;
  width: 5.8rem;
  line-height: 0.9rem;
  margin: 0 auto;
  background: #aae1d3;
  border-radius: 0.48rem;
  margin-top: 0.2rem;
}
.login-log section a {
  color: #ffffff;
}
.login-log section:first-of-type {
  margin-top: 0.5rem;
  background: #70ceb5;
}
.login-footer {
  text-align: center;
  font-size: 0.28rem;
  margin-top: 1.2rem;
  color: #a6a6b5;
  padding-bottom: .3rem;
}
.login-footer section {
  margin-top: 0.28rem;
}
.login-footer section a {
  color: #333333;
  padding-bottom: .8rem;
}
