<link rel="stylesheet" type="text/css" href="src/views/mine/css/mine.css"/>
<div class="container" ui-view>
<div id="wrapper">
<div class="login-content clear">
<div class="login-content1">
    <p></p>
</div>
<div class="login-content2">
  <p>
    使用豆瓣账号登陆
  </p>
</div>
</div>
<div class="login-log">
<section class="login-log-1">
<a ui-sref="login-in">登陆</a>
</section>
<section class="login-log-2">
<a ui-sref="login-register">注册</a>
</section>
</div>
</div>
<div class="login-footer">
使用其他登陆方式
  <section class="weixin-login">
    <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxbdc5610cc59c1631&redirect_uri=https%3A%2F%2Fpassport.yhd.com%2Fwechat%2Fcallback.do&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect">微信登陆</a>
  </section>
</div>
</div>

	</div>

