.movie_detail_box{width: 100%;height: 100%;background: #f8f9f9;}

/*改编项目详情页*/
.movie_detail_header{width: 100%;height: 5.4rem;background:#313232;position: relative;padding: 0.2rem 3.7%;color: #a6a6a6}
.movie_detail_header::before,.movie_detail_header::after{content: "";width: 100%;height:0.16rem;display: block;background: url(../images/film-perfs-white.svg) repeat-x;position: absolute;left: 0;}
.movie_detail_header::before{top: 0rem;}
.movie_detail_header::after{bottom: 0.1rem;}
.movie_detail_header>p{height: 0.44rem;line-height: 0.44rem;font-size: 0.26rem;display: block;/*background: green;*/}
.movie_detail_header h2{width: 100%;height: 1.4rem;line-height: 1.4rem;color: #fff;font-size: 0.36rem;font-weight: bolder;text-align: center;/*background: pink;*/}
.movie_detail_header_intro{width: 100%;height:3rem;background: #3c4242;}
.movie_detail_header_intro p {display: block;width: 100%;height: 1rem;line-height: 1rem;font-size: 0.26rem; }
.movie_detail_header_intro p span:first-of-type{float: left;margin-left:0.3rem;}
.movie_detail_header_intro>p>span:last-of-type{float: right;margin-right: 0.3rem;}
.movie_detail_header_intro p span a{display: inline-block;color: #9be7e7;}
.movie_detail_header_intro p span a::after{content: ">";display: inline-block;width: 0.3rem;height: 0.3rem;font-size: 0.24rem;color: #9be7e7;transform:scaleY(2);text-align: center;line-height: 0.3rem;}
.movie_detail_header_intro dl{width:100%;height: 2rem;background:#4c5353;padding: 0.24rem 5%;}
.movie_detail_header_intro dl dt{width:20%;height: 1.52rem;float: left;position: relative;}
.movie_detail_header_intro dl dt img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.movie_detail_header_intro dl dd{width: 75%;height: 1.52rem;/*background: cyan;*/float: right;}
.movie_detail_header_intro dl dd p{font-size: 0.26rem;width: 100%;height: 0.38rem;line-height: 0.38rem;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;margin-left: 0;}
.movie_detail_header_intro dl dd p .red{color:red;}
.movie_detail_header_intro dl dd p:last-of-type{/*background: yellow;*/margin-top: 0.05rem;}
.movie_detail_header_intro dl dd p:last-of-type span{display: inline-block;vertical-align: middle;}
.movie_detail_header_intro dl dd p:last-of-type span:first-of-type{width:40%;height: 100%;/*background: cyan;*/margin-left: 0rem;}
.movie_detail_header_intro dl dd p:last-of-type span:first-of-type img{width: 17%;height: 100%;display: inline-block;border: 0}


/*收集方*/
.movie_detail_collect{width: 100%;height: 100%;/*font-size: 0.26rem;color: #333;*/border-bottom: 0.01rem solid #eee;padding-bottom: 0.4rem;position: relative;}
.movie_detail_collect>p{display: block;height: 1rem;line-height: 1rem;font-size: 0.26rem;color: #333;text-align: center;background:#fff9dc;}
.movie_detail_collect_intro{width: 100%;padding:0.4rem 3.7%;line-height: 0.44rem;font-size: 0.26rem;color: #333;}
.movie_detail_collect_btn{width: 100%;height:0.8rem;/*background: pink;*/}
.movie_detail_collect_btn a{width: 80%;height: 0.8rem;text-align: center;line-height: 0.8rem;border-radius: 0.4rem;font-size: 0.32rem;color: #fff;display: block;background: #71ceb5;margin-left: 10%;}
.odd_img{width:1.2rem;height: 1.2rem;position: absolute;right: 0.2rem;top: -0.5rem;}


/*相同部分*/
.same{width: 100%;padding: 0.2rem 3.7% 0.4rem;border-bottom: 0.01rem solid #eee;}
.same h4{width: 100%;height:1rem;line-height: 1rem;font-size: 0.32rem;font-weight: bolder; }
.same p{line-height: 0.44rem;font-size: 0.26rem;color: #333;padding-bottom: 0.24rem;;}

/*查看原作*/
.movie_detail_checkfile{width: 100%;height:1.6rem;/*background: pink;*/padding: 0.4rem 0;border-bottom: 0.01rem solid #eee;margin-bottom: 0.4rem;}
.movie_detail_checkfile a{display: block;width: 80%;height: 0.8rem;line-height: 0.8rem;text-align: center;font-weight: bold;font-size: 0.32rem;color: #fff;border-radius: 0.4rem;margin-left: 10%;background: #77a4b3;}
i{font-style: normal;}