<link rel="stylesheet" type="text/css" href="src/views/movies/movies.adaptation/adaptation.css"/>
<!-- 编剧、制片方 -->
<div class="adaptation_box">
	<section class="adaptation_header">
		<p>编剧 / 制片方身份认证</p>
	</section>
	<section class="adaptation_content">
		<p>
			帐号进行「编剧」或「制片方」身份认证之后，即可使用相关功能。每个帐号只能在「编剧」和「制片方」中选择一种身份进行认证。
		</p>
		<section class="adaptation_intro">
			<h4>编剧</h4>
			<ul>
				<li>
					编剧可以从「待改编的故事作品」中挑选故事，根据你的改编思路为它撰写不少于 5000 字的改编剧本大纲。豆瓣阅读将从中挑选出优秀、合适的编剧和剧本大纲。
				</li>
				<li>
					优秀编剧将获得豆瓣阅读资助，将剧本大纲继续发展成完整剧本。
				</li>
				<li>
					豆瓣阅读还将接洽影视公司，优秀编剧将有机会参与由该作品改编的影视项目，成为署名编剧并获得相应报酬。
				</li>
				<li>
					暂时不接受原创剧本投稿。（如果你有原创故事，可以在豆瓣阅读自出版发布原创作品。）
				</li>
			</ul>
		</section>
		<section class="adaptation_intro">
			<h4>制片方</h4>
			<ul >
				<li>
					制片方可以从「待改编的故事作品」中挑选故事，与豆瓣阅读接洽版权购买事宜。
				</li>
				<li>
					可以查看豆瓣阅读推荐的改编剧本大纲。
				</li>
				<li>
					可以和豆瓣阅读接洽其他深入合作的方式。
				</li>
			</ul>
		</section>
		<section class="adaptation_btn">
			<a>编剧身份确认</a>
			<a>制片身份确认</a>
		</section>
	</section>
</div>

			