.odd_sell_box{width: 100%;height: 100%;padding:0 3.7%}
.odd_sell_box  .odd_sell_header{width: 100%;height:1.5rem;line-height:1.5rem;color:#77a4b3;text-align: center;border-bottom:1px solid #eee;font-size: 0.32rem;font-weight: bolder;}
.odd_sell_content .odd_sell_list{width: 100%;height: 100%;padding-bottom: 1rem;}
.odd_sell_list li{width:100%;height:4.6rem;border-bottom: 1px solid #eee;}
.odd_sell_list li:last-of-type{border-bottom: 0;}

.odd_sell_list li a{width: 100%;height: 100%;display: block;/*background: pink;*/}
.odd_sell_list li a h4{font-size:0.28rem;color: #333;height: 0.8rem;line-height: 0.8rem;/*background: yellow;*/}
.odd_sell_list li a dl{width:100%;height: 2rem;background:#ebf0f2;padding: 0.24rem 5%;color: #a6a6a6;}
.odd_sell_list li a dl dt{width:20%;height: 1.52rem;float: left;position: relative;box-shadow: 0.02rem 0.02rem 0.1rem #c0c4c6,0.04rem 0.04rem 0.1rem #bec2c3;}
.odd_sell_list li a dl dt img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.odd_sell_list li a dl dd{width: 75%;height: 1.52rem;/*background: cyan;*/float: right;}
.odd_sell_list li a dl dd p{font-size: 0.24rem;width: 100%;height: 0.38rem;line-height: 0.38rem;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.odd_sell_list li a dl dd p .red{color: red;margin-right: 0.1rem;}
.odd_sell_list li a dl dd p:last-of-type{/*background: yellow;*/margin-top: 0.05rem;}
.odd_sell_list li a dl dd p:last-of-type span{display: inline-block;vertical-align: middle;}
.odd_sell_list li a dl dd p:last-of-type span:first-of-type{width:45%;height: 100%;/*background: cyan;*/}
.odd_sell_list li a dl dd p:last-of-type span:first-of-type img{width: 15%;height: 100%;display: inline-block;border: 0;}
.odd_sell_list li a article{width:100%;height:1.6rem;line-height: 0.4rem;font-size: 0.24rem;margin-top: 0.05rem;/*background: orange;*/overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;}
i{font-style: normal;}

.getmore{width: 100%;height: 1rem;text-align: center;line-height: 1rem;font-size: 0.32rem;color: #333;margin-top: 1rem;background: #eee;}
