<link rel="stylesheet" href="src/views/movies/movies.oddsell/odd_sell.css">
<!-- 已售出的故事作品 -->
<div class="odd_sell_box"  ng-controller="oddSell">
	<section class="odd_sell_header">
		<p>已达成交易</p>
	</section>
	<main class="odd_sell_content">
		<ul class="odd_sell_list">
			<li  ng-repeat="odsl in oddData track by $index">
				<a ui-sref="movies.detail({id:catoge,objData:odsl})">
					<h4>{{odsl.title}}</h4>
					<dl>
						<dt><img ng-src={{odsl.image}} /></dt>
						<dd>
							<p >作者：{{odsl.author[0]}}</p>
							<p>页数：{{odsl.pages}}页</p>
							<p >标签：<span ng-repeat="y in odsl.tags track by $index">{{y.name}},</span></p>
							<p>
								<span>
									<create-Star value="{{odsl.rating.average}}" show="show(value)"></create-Star>
									<!-- <img src="src/views/movies/images/stars@2x.png"> -->
								</span>
								<span class="red">{{odsl.rating.average}}</span>
								<span>|&nbsp;{{odsl.rating.numRaters}}人评价</span>
							</p>
						</dd>
					</dl>
					<article><p>{{odsl.summary}}</p></article>
				</a>
			</li>
		</ul>
	</main>
	<div class="getmore" ng-show="true">没有更多信息啦~</div>
</div>
