.books li{
	height: 3.48rem;
	border-bottom: .02rem solid #eeeeee;
	padding: .36rem .3rem 0 .26rem;
}
.cover{
	width: 1.6rem;
	height: 2.4rem;
	float: left;
	margin-right: .26rem;
}
.title{
	font-size: .26rem;
	line-height: .42rem;
}
.author{
	line-height: .44rem;
	font-size: .24rem;
	color: #a6a6a6;
}
.abstract{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: .38rem;
	font-size: .24rem;
	color: #a6a6a6;
}
.price{
	color: #333333;
	margin-top: .12rem;
}



.footer_top {
	width: 100%;
	height: .82rem;
	background-color: #fff;
	border-bottom:.02rem solid #eee;
	display: flex;
	color: #919ca3;
	font-size: .28rem;
	justify-content:center;
	align-items:center;
}